---
import Arrow from "./icons/Arrow.astro";

const { url, title, when } = Astro.props;
---

<a
  href={url}
  class="border-b border-fitzgerald-300 py-10 flex items-center space-x-4"
>
  <span class="text-3xl">{title}</span>
  <span class="font-mono uppercase">{when}</span>
  <Arrow customClasses="w-6 h-6" />
</a>
