---
import Navigation from "./Navigation.astro";
---

<header class="border-b border-fitzgerald-300 flex justify-between items-start pb-8">
  <a href="/" class="font-serif text-impossible-500">
    <h1 class="text-5xl italic">Joseph Valentine</h1>
    <p class="text-5xl">Arts and Culture Data Analyst</p>
  </a>
  <nav>
    <Navigation />
  </nav>
</header>
