---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="prose prose-lg prose-impossible m-auto py-8">
    <slot />
  </div>
</BaseLayout>
